* {
    margin: 0;
    padding: 0;
    /* background-color: rgb(154, 142, 226); */
    box-sizing: border-box;
    /* make the text unselectable */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* using local font */

@font-face {
    font-family: logoFont;
    src: url("./font/GLADWIN-Light-2.otf");
}

nav {
    height: 5vw;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, .8);
    box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, .08);
}

nav h1 {
    font-family: 'Allison', cursive;
    font-size: 3.5rem;
    /* make the text unselectable */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

nav .search-btn {
    background-color: rgb(0, 113, 227);
    /* Green */
    border: none;
    color: white;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    border-radius: 75px;
}

.navbar-container {
    height: 5vw;
    width: 70vw;
    /* background-color: royalblue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-container h2 {
    font-size: 2.5rem;
}


/* <!-- section zero start --> */

.section-zero {
    height: 90vh;
    width: 100vw;
    max-width: 100%;
    /* background-color: rgb(230, 230, 230); */
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-zero p {
    font-size: 9rem;
    font-family: 'Liu Jian Mao Cao', cursive;
    letter-spacing: 2rem;
    /* make the text unselectable */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* <!-- section one start --> */

.section-one {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    /* background-color: rgb(255, 254, 254); */
    background-color: #f1f1f1;
}

.section-one .container-one {
    height: 100vh;
    max-width: 83%;
    margin: auto;
    /* background-color: rgb(64, 168, 168); */
    display: flex;
    justify-content: space-between;
}

.section-one .container-one .left {
    height: 92vh;
    width: 40vw;
    background-color: rgb(230, 230, 230);
    border-radius: 2vw;
    margin-top: 5vw;
    padding: 4%;
}

.section-one .container-one .right {
    height: 92vh;
    width: 40vw;
    background-color: rgb(230, 230, 230);
    margin-top: 5vw;
    border-radius: 2vw;
    padding: 4%;
}


/* <!-- section two start --> */

.section-two {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background-color: #f1f1f1;
    padding: 4vw;
}

.section-two .container-two {
    height: 85vh;
    max-width: 90%;
    margin: auto;
    /* background-color: rgb(145, 76, 76); */
    border-radius: 2vw;
    background-color: rgb(230, 230, 230);
    padding: 4%;
}


/* <!-- section three start --> */

.section-three {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    /* background-color: rgb(134, 103, 103); */
    background-color: #f1f1f1;
}

.section-three .container-three {
    height: 100vh;
    max-width: 83%;
    margin: auto;
    /* background-color: rgb(64, 168, 168); */
    display: flex;
}

.section-three .container-three .left {
    height: 92vh;
    width: 28vw;
    background-color: rgb(230, 230, 230);
    border-radius: 2vw;
    margin-top: -3vh;
    margin-right: 2vw;
}

.section-three .container-three .right {
    height: 92vh;
    width: 70vw;
    background-color: rgb(230, 230, 230);
    border-radius: 2vw;
    margin-top: -3vh;
}


/* <!-- section four start --> */

.section-four {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    /* background-color: rgb(134, 103, 103); */
    background-color: #f1f1f1;
}

.section-four .container-four {
    height: 100vh;
    max-width: 83%;
    margin: auto;
    /* background-color: rgb(64, 168, 168); */
    display: flex;
}

.section-four .container-four .right {
    height: 92vh;
    width: 28vw;
    background-color: rgb(230, 230, 230);
    border-radius: 2vw;
    margin-top: -3vh;
    margin-left: 2vw;
}

.section-four .container-four .left {
    height: 92vh;
    width: 70vw;
    background-color: rgb(230, 230, 230);
    border-radius: 2vw;
    margin-top: -3vh;
}


/* <!-- section five start --> */

.section-five {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    /* background-color: #836666; */
    background-color: #f1f1f1;
}

.section-five .container-five {
    height: 85vh;
    max-width: 85%;
    margin: auto;
    margin-top: -5vh;
    /* background-color: rgb(145, 76, 76); */
    border-radius: 2vw;
    background-color: rgb(230, 230, 230);
}

.section-six {
    height: 70vh;
    width: 100%;
    background-color: rgb(230, 230, 230);
}


/* 通用样式 */


/* 标签标题 */

.context-title {
    font-size: 1.8rem;
}


/* 链接样式 */

.context-list li {
    list-style: none;
    margin: 2%;
}

.context-list li a {
    font-size: 1.5rem;
    color: #0070C9;
    text-decoration: none;
}

.context-list li a:hover {
    text-decoration: underline;
}


/* 链接描述 */

.context-list li p {
    display: inline-block;
    font-size: 1.1rem;
    color: #333333;
    text-align: left;
}

body.active {
    overflow: hidden;
    filter: blur(5px);
}


/* 搜索弹窗 */

.modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .4);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 250ms;
}

.bg-active {
    visibility: visible;
    opacity: 1;
    top: 0%;
}

.modal {
    position: relative;
    background-color: rgba(245, 245, 245, 0.807);
    width: 60%;
    height: 55%;
    display: flex;
    justify-content: center;
    border-radius: 1vw;
    padding: 1vw;
}

.search-input {
    width: 100%;
    height: 15%;
    background: none;
    border: 0;
    outline: none;
    color: rgb(0, 113, 227);
    font-size: 2rem;
    text-align: center;
}

.search-input::placeholder {
    color: rgb(0, 113, 227);
    font-size: 2rem;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
}